*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background: #f1f5f8;
}
.app-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
.h1 {
  text-align: center;
  font-size: 2rem;
  color: #1b1b32;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.gameBoard {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  align-items: center;
}

.nameChange button {
  border: transparent;
  background: #eeeff3;
  color: rgba(19, 18, 18, 0.687);
  padding: 0.6rem;
  font-size: 0.85rem;
  border-radius: 10px;
  box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.625);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  /* transition: all 1s ease-in-out; */
}

input[type='text'] {
  /* width: 100%; */
  border: none;
  background-color: #1b1b32e4;
  padding: 0.6rem;
  border-radius: 5px;
  color: #fff;
}

.nameChange button:hover {
  box-shadow: 5px 0px 8px 1px rgba(0, 0, 0, 0.625);
}

.nameChange {
  display: grid;
  justify-content: center;
  /* padding-top: 5rem; */
}

.div {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.count {
  width: min(300px, 100%);
  background: #cbd5e1;
  display: grid;
  place-content: center;
  text-transform: capitalize;
  color: #1b1b32d6;
  border-radius: 10px;
}

.scoreCount {
  padding-left: 4rem;
  font-size: 1rem;
}
.playerName {
  font-size: 1rem;
}
.submitBtn {
  transform: translateX(4rem);
}

.cell {
  width: auto;
  height: 150px;
  border: 2px solid rgb(233, 195, 201);
  box-shadow: 0 0 0 2px #f1f5f8;
  line-height: 40px;
  font-size: clamp(2rem, 4vw, 4rem);
  cursor: pointer;
  display: grid;
  place-content: center;
  background-color: #1b1b32;
}

.cell:first-child {
  border-top-left-radius: 15px;
}

.cell:nth-child(3) {
  border-top-right-radius: 15px;
}

.cell:nth-child(7) {
  border-bottom-left-radius: 15px;
}

.cell:last-child {
  border-bottom-right-radius: 15px;
}
.gameCont {
  width: 100%;
  max-width: 650px;
}

button:not(.nameChange button) {
  padding: 1rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  background: #1b1b32;
  color: #f1f5f8;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.625);
}

button:hover:not(.nameChange button) {
  cursor: pointer;
  background-color: rgba(149, 157, 189, 0.781);
  color: #1b1b32;
  transition: all 0.7s linear;
}

#cellCont {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  max-width: 600px;
}

.textCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 0 auto;
}
#status {
  padding: 1rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  background: #1b1b32;
  color: #f1f5f8;
  border-radius: 10px;
  display: inline-block;
}

span {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  /* .app-container {
    width: 100%;
  } */
  .gameBoard {
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-start;
  }
}
